

NET "clk" LOC = AE14;
#NET "up_btn" LOC = E7;
#NET "dwn_btn" LOC = A6;
NET "LED_out[7]" LOC = E2;
NET "LED_out[6]" LOC = F9;
NET "LED_out[5]" LOC = C6;
NET "LED_out[4]" LOC = E10;
NET "LED_out[3]" LOC = A12;
NET "LED_out[2]" LOC = A11;
NET "LED_out[1]" LOC = G6;
NET "LED_out[0]" LOC = G5;


NET "dac_clk" LOC = AF8;
NET "dac_level[0]" LOC = M22;
NET "dac_level[1]" LOC = M23;
NET "dac_level[2]" LOC = M20;
NET "dac_level[3]" LOC = E4;
NET "dac_level[4]" LOC = D3;
NET "dac_level[5]" LOC = H7;
NET "dac_level[6]" LOC = H8;
NET "dac_level[7]" LOC = C1;


NET "main_sda" LOC = AA24;
NET "main_scl" LOC = V20;
NET "priv_scl" LOC = AC24;
NET "priv_sda" LOC = AC25;
#NET "y_button" LOC = W25;

# PlanAhead Generated physical constraints 

NET "reset" LOC = B6;
