

NET "clk" LOC = AE14;
NET "priv_scl" LOC = AF24;
NET "priv_sda" LOC = AE24;

# PlanAhead Generated physical constraints 



NET "dac_clk" LOC = AF8;
NET "priv_scl_out" LOC = AD22;
NET "priv_sda_out" LOC = AB21;
NET "reset" LOC = B6;
NET "LED_out[0]" LOC = G5;
NET "LED_out[1]" LOC = G6;
NET "LED_out[2]" LOC = A11;
NET "LED_out[3]" LOC = A12;
NET "LED_out[4]" LOC = E10;
NET "LED_out[5]" LOC = C6;
NET "LED_out[6]" LOC = F9;
NET "LED_out[7]" LOC = E2;
NET "dac_level[7]" LOC = AA24;
NET "dac_level[6]" LOC = V20;
NET "dac_level[5]" LOC = AC25;
NET "dac_level[4]" LOC = AC24;
NET "dac_level[3]" LOC = W25;
NET "dac_level[2]" LOC = AB24;
NET "dac_level[1]" LOC = Y24;
NET "dac_level[0]" LOC = AB23;
